<div class="row" id="bio-section">
  <a class="anchor" id="bio"></a>
  <div class="col-md-4">
    <img src="./assets/doc.png" />
  </div>
  <div class="col-md-8">
    <div class="d-block d-sm-none">
      <h2>{{ doctorName }}</h2>
      <div id="bio-text" class="collapse">
        <p>{{ bio }}</p>
        <p>{{ bio2 }}</p>
      </div>
      <button
        class="btn collapsed read-more"
        data-toggle="collapse"
        data-target="#bio-text"
      >
        <span class="if-collapsed"
          >{{ readMoreText }}
          <br />
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <span class="if-not-collapsed"
          >{{ readLessText }}
          <br />
          <i class="fa fa-caret-up" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div id="sm-bio-text" class="d-none d-md-block">
      <p>
        <span class="doctor-name">{{ doctorName }}</span> {{ bio }}
      </p>
      <p>{{ bio2 }}</p>
    </div>
  </div>
</div>
