<nav class="navbar navbar-default fixed-top justify-content-between">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="/assets/navbar-logo.png" alt="Sincere Chiro" />
    </a>
    <button
      type="button"
      class="navbar-toggle collapsed d-lg-none"
      data-toggle="modal"
      data-target="#nav-modal"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <i class="fas fa-bars" style="color: #b0afaf"></i>
    </button>
    <ul class="nav navbar-nav d-none d-lg-inline">
      <li class="nav-item" *ngFor="let link of links">
        <a class="nav-link" [href]="link.link">{{ link.title }}</a>
      </li>
    </ul>
    <a class="tablet-phone" href="tel:{{ phoneNumber }}">{{ phoneNumber }}</a>
  </div>
</nav>
<div
  class="modal fade"
  id="nav-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal">
      <img src="../../assets/closeModal.png" />
    </button>
    <div class="modal-nav-content">
      <div class="modal-nav-body">
        <ul>
          <li class="nav-item phone">
            <a class="modal-nav-link phone" href="tel:{{ phoneNumber }}">{{
              phoneNumber
            }}</a>
          </li>
          <li class="modal-nav-item" *ngFor="let link of links">
            <a
              class="modal-nav-link"
              [href]="link.link"
              onclick="$('#nav-modal').modal('hide')"
            >
              {{ link.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
